{% extends "base.html" %}
{% block content %}
<h3>Enrollment Form</h3>
<form method="POST" enctype="multipart/form-data" class="card p-3">
    <div class="row g-2">
        <div class="col-md-3"><input name="semester" class="form-control" placeholder="Semester" value="1st Semester"></div>
        <div class="col-md-3"><input name="school_year" class="form-control" placeholder="School Year" value="2026-2027"></div>
        <div class="col-md-3"><input name="program" class="form-control" placeholder="Program" value="BSIT"></div>
        <div class="col-md-3"><input name="year_level" type="number" min="1" max="5" class="form-control" value="{{ current_user.year_level }}"></div>
        <div class="col-md-4">
            <select name="is_new_student" class="form-select">
                <option value="no">Old Student</option>
                <option value="yes">New Student</option>
            </select>
        </div>
        <div class="col-md-4"><input type="file" name="payment_receipt" class="form-control"></div>
        <div class="col-md-4"><input type="file" name="id_document" class="form-control"></div>
    </div>
    <textarea class="form-control mt-2" name="notes" rows="3" placeholder="Notes"></textarea>
    <div class="d-flex gap-2 mt-3">
        <button name="action" value="save_draft" class="btn btn-outline-secondary">Save Draft</button>
        <button name="action" value="submit" class="btn btn-primary">Submit Enrollment</button>
    </div>
</form>
{% endblock %}
